<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Filters
            </mat-panel-title>
            <mat-panel-description>
                Add some filters...
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-container">
                <mat-form-field>
                    <mat-select placeholder="Select a city..." formControlName="cityId" id="cityId">
                        <mat-option [value]="'All'" value="">All</mat-option>
                        <mat-option [value]="city.id" *ngFor="let city of cities">{{city.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Price less then..." formControlName="priceLessThan">
                </mat-form-field>

                <mat-radio-group formControlName="onSale">
                    <mat-label>On sale:</mat-label>
                    <mat-radio-button [value]="'All'">All</mat-radio-button>
                    <mat-radio-button [value]="true">Yes</mat-radio-button>
                    <mat-radio-button [value]="false">No</mat-radio-button>
                </mat-radio-group>

                <button mat-raised-button color="primary">Search</button>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>

<mat-progress-bar *ngIf="isSearching" class="example-margin" [color]="'primary'" [mode]="'indeterminate'" [value]="60" [bufferValue]="75">
</mat-progress-bar>