<mat-card>
    <mat-card-header>
        <mat-card-title id="title">{{house?.title}}</mat-card-title>
        <mat-card-subtitle id="price">Price: {{house?.price}}$</mat-card-subtitle>
        <mat-chip-list right>
            <mat-chip color="primary" *ngIf="house.onSale" id="onSale" selected>On Sale</mat-chip>
            <mat-chip color="accent" selected>City ID: {{house?.cityId}}</mat-chip>
        </mat-chip-list>
    </mat-card-header>
    <img mat-card-image [src]="house?.image" alt="Photo of a house">
    <mat-card-content>
        <p id="description">{{house?.description}}</p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>